/* Lisa Donohoo   resume-v3.css   2-14-2024     */


/* if screen is over a certain width, call wide display layer first
    so it's first in precedence.  Otherwise, call narrrow first. */
@media (min-width: 50rem) {
    @layer wide-display;
}

/* narrow display flexbox/grid stuff goes here... */
@layer narrow-display {  
    header {
        background-color: blue;
    }
}

/* wide display flexbox/grid stuff goes here... */
@layer wide-display {
    header {
      background-color: green;
    }

}

/* reduce motion mode for users who have this set 

    (vestibular disorders, vision problems) 

no preference- animation will apply if user doesn't have motion preference 

Don't make animations, sliders, videos, or rapid movement start automatically.
 Give an indicator of what movement will happen on the site when someone takes 
 action. Allow the option to turn off any animation and movement at any 
 point in the process.
 
 so in animations themselves disable if no preference??

*/

@media (prefers-reduced-motion) {
    footer {
        color: white;
    }
}

/* if user has light mode set on their browser use light color scheme */
@media (prefers-color-scheme: light) {
    body {
        --main-text-color: black;
        --background-color: beige;
    }
}


/* if user has dark mode set on their browser use dark color scheme */
@media (prefers-color-scheme: dark) {
    body {
    --main-text-color: rgb(247, 246, 224);
    --background-color: rgb(31, 30, 30);
    }
}

ul {
    list-style-type: none;
}
